<a href="https://colab.research.google.com/github/Rick-s0/VisionCraft-TheWinter-Challenge/blob/main/Subhankar_241047_a1/visioncraft_assign_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt

Q1. Matrix Multiplication

In [ ]:
#check matrix multiplication is valid
def isValid(A,B):
  if A.shape[1]==B.shape[0]:
    return True
  else:
    return False

In [ ]:
# matrix multiplication is valid using loops
def matrix_multiply(A,B):
  result=[[0 for i in range(len(B[0]))] for j in range(len(A))]
  for i in range(len(A)):
    for j in range(len(B[0])):
      for k in range(len(B)):
        result[i][j] += A[i][k] * B[k][j]
  return result

In [ ]:
# matrix multiplication using numpy
def matrix_multiply_2(A,B):
  return np.dot(A,B)

In [ ]:
A = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
])

B = np.array([
    [13, 14, 15],
    [16, 17, 18],
    [19, 20, 21]
])

if isValid(A,B):
  print(f"Result using loops: {matrix_multiply(A,B)}")
  print(f"Result using numpy: {matrix_multiply_2(A,B)}")
else:
  print(f"Matrix multiplication is not valid")

Q2. Z-Score Normalisation

In [ ]:
#mean without numpy
data=[]
n=int(input("enter no. of elements : "))
for i in range(0,n):
  ele=int(input())
  data.append(ele)
def mean(data):
  sum=0
  for i in range(0,n):
    sum+=data[i]
  return sum/n
mean=mean(data)

In [ ]:
#standard deviation without numpy
def standard_deviation(data):
  sum_of_squares=0
  for i in range(0,n):
    sum_of_squares+=(data[i]-mean)**2
  std_dev=(sum_of_squares/n)**0.5
  return std_dev
std_dev=standard_deviation(data)

In [ ]:
new_data=[]
def z_score_normalisation(data):
  for i in range(0,n):
    new_value=(data[i]-mean)/std_dev
    new_data.append(new_value)
  return new_data
print("z_score_normalisation",z_score_normalisation(data))

In [ ]:
# mean, standard deviation, z score normalisation using numpy
mean_np=np.mean(data)
std_dev_np=np.std(data)
print("mean : ",mean)
print("standard deviation : ",std_dev)
def zscore_normalisation_2(data):
  return (data-mean_np)/std_dev_np
print("z_score_normalisation",zscore_normalisation_2(data))

Q3. Sigmoid fn and its derivative

In [ ]:
def sigmoidfn(x):
  return 1/(1+np.exp(-x))
def derivative(x):
  return sigmoidfn(x)*(1-sigmoidfn(x))

x = np.array([
    [9,2,5,0,0],
    [7,5,0,0,0]
])
print(f"x on applying sigmoid activation fn is: {sigmoidfn(x)}")
print(f"x on applying derivative of sigmoid activation fn is: {derivative(x)}")

SECTION 2 : EXPLORING PANDAS

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/rpyaduvanshi950/VisionCraft-TheWinter-Challenge/main/Week1/superheated_vapor_properties.csv')
df

,Pressure,Property,Liq_Sat,Vap_Sat,75,100,125,150,175,200,...,425,450,475,500,525,550,575,600,625,650
0,1.0,V,1.000,129200.0000,160640.0000,172180.0000,183720.0000,195270.0000,206810.0000,218350.0000,...,NaN,333730.0000,NaN,356810.0000,NaN,379880.0000,NaN,402960.0000,NaN,426040.0000
1,1.0,U,29.334,2385.2000,2480.8000,2516.4000,2552.3000,2588.5000,2624.9000,2661.7000,...,NaN,3049.9000,NaN,3132.4000,NaN,3216.7000,NaN,3302.6000,NaN,3390.3000
2,1.0,H,29.335,2514.4000,2641.5000,2688.6000,2736.0000,2783.7000,2831.7000,2880.1000,...,NaN,3383.6000,NaN,3489.2000,NaN,3596.5000,NaN,3705.6000,NaN,3816.4000
3,1.0,S,0.106,8.9767,9.3828,9.5136,9.6365,9.7527,9.8629,9.9679,...,NaN,10.8200,NaN,10.9612,NaN,11.0957,NaN,11.2243,NaN,11.3476
4,10.0,V,1.010,14670.0000,16030.0000,17190.0000,18350.0000,19510.0000,20660.0000,21820.0000,...,NaN,33370.0000,NaN,35670.0000,NaN,37980.0000,NaN,40290.0000,NaN,42600.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538,11200.0,H,1458.900,2705.4000,NaN,NaN,NaN,NaN,NaN,NaN,...,3151.7000,3224.5000,3293.4000,3359.7000,3424.3000,3487.7000,3550.4000,3612.5000,3674.4000,3736.0000
539,11200.0,S,3.444,5.5476,NaN,NaN,NaN,NaN,NaN,NaN,...,6.2491,6.3515,6.4452,6.5324,6.6147,6.6929,6.7679,6.8401,6.9099,6.9777
540,11400.0,V,1.504,15.2840,NaN,NaN,NaN,NaN,NaN,NaN,...,24.1040,25.5990,27.0100,28.3590,29.6610,30.9250,32.1600,33.3700,34.5600,35.7330
541,11400.0,U,1450.000,2527.2000,NaN,NaN,NaN,NaN,NaN,NaN,...,2873.1000,2929.4000,2982.6000,3033.9000,3083.9000,3133.1000,3181.9000,3230.4000,3278.8000,3327.2000
542,11400.0,H,1467.200,2701.5000,NaN,NaN,NaN,NaN,NaN,NaN,...,3147.9000,3221.2000,3290.5000,3357.2000,3422.1000,3485.7000,3548.5000,3610.8000,3672.8000,3734.6000

In [ ]:
data_shape=df.shape
print(data_shape)

In [ ]:
column_names=df.columns
print(column_names)

Index(['Pressure', 'Property', 'Liq_Sat', 'Vap_Sat', '75', '100', '125', '150',
       '175', '200', '220', '225', '240', '250', '260', '275', '280', '290',
       '300', '320', '325', '340', '350', '360', '375', '380', '400', '425',
       '450', '475', '500', '525', '550', '575', '600', '625', '650'],
      dtype='object')

In [ ]:
null_values=df.isnull().sum()
print(null_values)

Pressure      0
Property      0
Liq_Sat       0
Vap_Sat       0
75          527
100         507
125         487
150         447
175         383
200         319
220         407
225         399
240         407
250         343
260         383
275         339
280         379
290         487
300          59
320         479
325         135
340         476
350          67
360         476
375         203
380         476
400           0
425         204
450           0
475         204
500           0
525         272
550           0
575         340
600           0
625         476
650           0
dtype: int64

In [ ]:
df["Pressure_Property"] = df["Property"] + " at " + df["Pressure"].astype(str)
# Enthalpy at 75 kPa and 573 K
enthalpy = df[(df["Pressure"] == 75) & (df["Property"] == "H")]['Pressure_Property'].values[0]

# Entropy at 493 K and 250 kPa
entropy = df[(df["Pressure"] == 250) & (df["Property"] == "S")]['Pressure_Property'].values[0]

print(f"Enthalpy at 75 kPa and 573 K: {enthalpy}")
print(f"Entropy at 493 K and 250 kPa: {entropy}")

Enthalpy at 75 kPa and 573 K: H at 75.0
Entropy at 493 K and 250 kPa: S at 250.0

In [ ]:
#max null values
column_with_most_missing = null_values.idxmax()
max_missing_count = null_values.max()
print(f"\nColumn with the highest number of missing values: '{column_with_most_missing}' ({max_missing_count} missing values)")

Column with the highest number of missing values: '75' (527 missing values)

In [ ]:
#average enthalpy
enthalpy_sat_liq=df[df['Property']=='H']['Liq_Sat'].astype(float)
avg_enthalpy_sat_liq=enthalpy_sat_liq.mean()
print(avg_enthalpy_sat_liq)

In [ ]:
#separating out V,U,H,S data
V_data=df[df['Property']=='V'].reset_index(drop=True)
U_data=df[df['Property']=='U'].reset_index(drop=True)
H_data=df[df['Property']=='H'].reset_index(drop=True)
S_data=df[df['Property']=='S'].reset_index(drop=True)
print(V_data)
print(U_data)
print(H_data)
print(S_data)